[Unit]
Description=TShock - Terraria server

[Service]
User=terraria
StandardInput=tty
TTYPath=/dev/tty11
StandardOutput=journal
StandardError=journal
SyslogIdentifier=tshock-server
WorkingDirectory=/home/terraria/tshock/
ExecStartPre=/home/terraria/tshock/world_check.sh world /home/terraria/tshock/world
ExecStart=mono-sgen TerrariaServer.exe -worldselectpath world/ -world world.wld -maxplayers 16

[Install]
WantedBy=multi-user.target
