[Unit]
Description=TShock - Terraria server

[Service]
User=terraria
StandardInput=tty
TTYPath=/dev/tty11
StandardOutput=journal
StandardError=journal
SyslogIdentifier=tshock-server
WorkingDirectory=/home/terraria/tshock/
ExecStart=mono-sgen TerrariaServer.exe -world /home/terraria/tshock/world/world.wld -maxplayers 16

[Install]
WantedBy=multi-user.target
